@using System.Globalization
@model FW.GroupAlarm.StatusMonitor.Model.OrganizationTotalsModel
@{

}
    <div class="container">
        <h4>
            @foreach (var label in Model.LabelTotals)
            {

                <span class="badge badge-dark" style="color: @label.RgbColorCode">
                    @label.Name (<span style="color: limegreen">@label.AvailableCount</span> / <span style="color: red">@label.NotAvailableCount</span> / <u>@label.AssigneeCount</u>
                </span>

            }
        </h4>
    </div>