@using System.Globalization
@model FW.GroupAlarm.StatusMonitor.Model.OrganisationUnitModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="card m-2" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Description</h6>

            <div class="row">
                <div class="col">
                    <h3><span class="badge badge-success" style="width: 3rem;">@Model.CountAvailable</span></h3>
                </div>
                <div class="col">
                    <h3><span class="badge badge-warning" style="width: 3rem;">@Model.CountInEvent</span></h3>
                </div>
                <div class="col">
                    <h3><span class="badge badge-danger" style="width: 3rem;">@Model.CountNotAvailable</span></h3>
                </div>
            </div>

            @foreach (var label in Model.Labels)
            {
                <span class="badge badge-light" style="color: @label.RgbColorCode">@label.Name <span style="background-color: white">(<span style="color: green">@label.AvailableCount</span> / <span style="color: red">@label.AssigneeCount</span>)</span></span>
            }

        <div class="row mt-1">
            <div class="col">
                <a class="btn btn-primary" data-toggle="collapse" href="#@Model.CollapseId" role="button" aria-expanded="false" aria-controls="@Model.CollapseId">Einsatzkräfte (@Model.TotalStrength)</a>
                <div class="collapse multi-collapse" id="@Model.CollapseId">
                    @foreach (var user in Model.Users)
                    {
                        @user.Name
                    }
                </div>
            </div>
        </div>
    </div>
</div>
   
