@using System.Globalization
@model FW.GroupAlarm.StatusMonitor.Model.OrganisationUnitModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="card m-2" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Description</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Name</h6>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4><span class="badge badge-success" style="width: 2.2rem;">@Model.CountAvailable</span></h4>
                    </div>
                    <div class="col">
                        <h4><span class="badge badge-warning" style="width: 2.2rem;">@Model.CountInEvent</span></h4>
                    </div>
                    <div class="col">
                        <h4><span class="badge badge-danger" style="width: 2.2rem;">@Model.CountNotAvailable</span></h4>
                    </div>
                    <div class="col">
                        <h4><span class="badge badge-dark" style="width: 2.2rem;">@Model.CountRegistrationPending</span></h4>
                    </div>
                </div>
            </div>

            @foreach (var label in Model.Labels)
            {
                <span class="badge badge-light" style="color: @label.RgbColorCode">@label.Name <span style="background-color: white">(<span style="color: green">@label.AvailableCount</span> / <span style="color: red">@label.NotAvailableCount</span> / <span style="color: silver"><u>@label.AssigneeCount</u></span>)</span></span>
            }

            <div class="row mt-2">
                <div class="col">
                    <a class="btn btn-primary" data-toggle="collapse" href="#@Model.CollapseId" role="button" aria-expanded="false" aria-controls="@Model.CollapseId">Einsatzkräfte (@Model.TotalStrength)</a>
                    <div class="collapse multi-collapse" id="@Model.CollapseId">
                        @foreach (var user in Model.Users)
                        {
                            @if (user.IsAvailable)
                            {
                                <span class="badge badge-pill badge-success">@user.Name</span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-danger">@user.Name</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
   
