@using System.Globalization
@model FW.GA.StatusMonitor.Core.ValueTypes.Model.OrganizationTotalsModel
@{

}
    <div class="container">
        <div class="row ">
            <div class="col text-center">
                <h2><span class="badge badge-success" style="width: 4rem;">@Model.TotalAvailable</span></h2>
            </div>
            <div class="col text-center">
                <h2><span class="badge badge-danger" style="width: 4rem;">@Model.TotalNotAvailable</span></h2>
            </div>
            <div class="col text-center">
                <h2><span class="badge badge-dark" style="width: 4rem;">@Model.TotalRegistrationPending</span></h2>
            </div>
        </div>
    </div>

    <div class="container text-center"  mt-10">
        <h4>
            @foreach (var label in Model.LabelTotals)
            {

                <span class="badge badge-dark" style="color: @label.RgbColorCode">
                    @label.Name (<span style="color: limegreen">@label.AvailableCount</span> / <span style="color: orangered">@label.NotAvailableCount</span> / <u>@label.AssigneeCount</u>)
                </span>

            }
        </h4>
    </div>